{#{% import 'SyliusAdminBundle:Crud/Macro:breadcrumb.html.twig' as breadcrumb %}#}

{#{% set breadcrumbs = [#}
        {#{ label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },#}
        {#{ label: 'sylius.ui.products'|trans, url: path('sylius_admin_product_index') },#}
        {#{ label: app.request.attributes.get('productId') },#}
        {#{ label: 'sylius.ui.variants'|trans },#}
    {#]#}
{#%}#}

{#{{ breadcrumb.crumble(breadcrumbs) }}#}
