{#{% import 'SyliusAdminBundle:Crud/Macro:breadcrumb.html.twig' as breadcrumb %}#}

{#{% set breadcrumbs = [#}
        {#{ label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },#}
        {#{ label: 'sylius.ui.products'|trans, url: path('sylius_admin_product_index') },#}
        {#{ label: app.request.attributes.get('productId') },#}
        {#{ label: (metadata.applicationName~'.ui.'~metadata.pluralName)|trans, url: path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({})) },#}
        {#{ label: resource.code|default(resource.id) },#}
        {#{ label: 'sylius.ui.edit'|trans }#}
    {#]#}
{#%}#}

{#{{ breadcrumb.crumble(breadcrumbs) }}#}
