{#{% import 'SyliusAdminBundle:Crud/Macro:breadcrumb.html.twig' as breadcrumb %}#}

{#{% set breadcrumbs = [#}
        {#{ label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },#}
        {#{ label: (metadata.applicationName~'.ui.'~metadata.pluralName)|trans },#}
    {#]#}
{#%}#}

{#{{ breadcrumb.crumble(breadcrumbs) }}#}
