<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ 'sylius.meta.backend_title'|trans }}
            {% endblock %}
        </title>

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.css" type="text/css" />
            {% stylesheets output='assets/compiled/backend.css' filter='cssrewrite'
                'bundles/syliusweb/css/blueimp-gallery.css'
                'bundles/syliusweb/css/select2.css'
                'bundles/syliusweb/css/datepicker3.css'
                'bundles/syliusweb/css/backend.css'
                'bundles/syliusresource/css/form-collection.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'SyliusWebBundle:Backend:_navbar.html.twig' %}
        <div class="row main-container">
            <div class="col-md-1 col-lg-2 hidden-sm hidden-xs">
                {% block sidebar %}
                <div id="sidebar">
                    <div class="sidebar-nav">
                        {{ knp_menu_render('sylius.backend.sidebar', {'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active'}) }}
                    </div>
                </div>
                {% endblock %}
            </div>

            <div class="col-md-11 col-lg-10">
                <div id="topbar">
                    {% block topbar %}
                    {% include 'SyliusWebBundle:Backend:_breadcrumb.html.twig' %}
                    {% endblock %}
                </div>

                <div id="content">
                    {% include 'SyliusWebBundle:Backend:_flashes.html.twig' %}

                    {% block content %}
                    {% endblock %}

                    <hr>

                    {# Gallery modal #}
                    {% include 'SyliusWebBundle::gallery.html.twig' %}

                    {# Confirmation modal #}
                    {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

                    <footer>
                        <p>&copy; <a href="http://Sylius.org">Sylius</a>, 2011 - {{ 'now'|format_date('Y') }}.</p>
                    </footer>
                </div>
            </div>
        </div>

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/cmfcreate/vendor/ckeditor/ckeditor.js') }}"></script>
            {% javascripts output='assets/compiled/backend.js'
                'bundles/syliusreport/js/chart.js'
                'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
                'bundles/syliusweb/js/confirm-modal.js'
                'bundles/syliusweb/js/form-collection.js'
                'bundles/syliusweb/js/form-spinner.js'
                'bundles/syliusweb/js/form-upload.js'
                'bundles/syliusweb/js/select2.js'
                'bundles/syliusweb/js/bootstrap-datepicker.js'
                'bundles/syliusweb/js/backend.js'
                'bundles/syliusresource/js/form-collection.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
